#container-box {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 150px;
    width: 560px;
    gap: 2px;
}
.box { 
    border: 2px solid grey;
    width: 140px;
}
.box:nth-child(1) {
    background-color: lightblue;
    display: flex;
}
.box:nth-child(2) {
    background-color: rgb(125, 98, 236);
}
.box:nth-child(3) {
    display: flex;
    background-color: rgb(93, 0, 255);
}
.box:nth-child(4) {
    background-color: rgb(247, 22, 243);
}

.subbox {
    flex-direction: column;
    background-color: aliceblue;
    width: 70px;
    height: 120px;
}
img{
    height: 130px;
    width: 100%;
}
