#container-box{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    height: 360px;
}
.box{
    border: 1px solid black;
}
.box:nth-child(1){
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.box:nth-child(3){
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.box:nth-child(4){
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.box:nth-child(6){
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.subbox{
    border: 2px solid black;
    margin: 2px;
    
}
.subbox1{
    display: grid;
    border: 2px solid black;
    height: 183px;
    margin: 2px;
}
#head{
    background-color: black;
    color: white;
    text-align: center;
}
#footer{
    background-color: black;
    color: white;
    text-align: center;
}

.box:nth-child(1) > div > img{
    height: 100%;
    width: 100%;
}
.box:nth-child(3) > div > img{
    height: 100%;
    width: 100%;
}
.box:nth-child(4) > div > img{
    height: 100%;
    width: 100%;
}.box:nth-child(6) > div > img{
    height: 100%;
    width: 100%;
}
.box:nth-child(2) > div > img{
    height: 100%;
    width: 100%;
}
.box:nth-child(5) > div > img{
    height: 100%;
    width: 100%;
}